:root {
    --page-bg-color: #C8CCD4;
    --bg-color: #F9F9F9;
    --bg-color-invert: #333;
    --font-color: #333;
    --font-color-invert: #E6E6E6;
    --separator-color: rgba(205, 205, 205, 0.8);
    --page-margin-left: 40px;
    --section-gap: 24px;
    --page-margin-top: 48px;
    --text-to-icon-gap: 8px;
    --header-block-height: 150px;
    --icon-width: 24px;
    --icon-height: 24px;
    --social-icon-margin-left: 72px;
    --accent-invert: #FFB800;
    --page-corner-radius: 4px;
}

body {
    margin: 0;
    background-color: var(--page-bg-color);
    display: flex;
    justify-content: center;
    color: var(--font-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.fake-header-gap {
    height: 24px;
    flex-shrink: 0;
    background-color: var(--page-bg-color);
}

#page-container {
    display: flex;
    height: 100vh;
    width: 1440px;
    flex-flow: row;
}

#main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#side-bar-container {
    display: flex;
    flex-flow: column;
    align-self: flex-end;
    width: 372px;
    color: var(--font-color-invert);
    height: 100vh;
}

.side-bar-content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-invert);
    border-top-right-radius: var(--page-corner-radius);
    flex-grow: 1;
}

#side-bar-container a {
    color: var(--accent-invert);
    text-decoration: none;
}

#side-bar-container a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 16px;
    margin: 0;
}

/* Header */
.header-container {
    flex-shrink: 0;
    height: var(--header-block-height);
    /* background-color: red; */
    box-shadow: 0px 2px 2px var(--separator-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--bg-color);
    border-top-left-radius: var(--page-corner-radius);
}

.header-text {
    margin-top: var(--page-margin-top);
    margin-left: var(--page-margin-left);
}


/* Navigation */
.nav-bar {
    margin-top: var(--section-gap);
    margin-left: var(--page-margin-left);
}

.nav-bar>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    ;
}

.nav-bar>ul>li {
    margin-right: 40px;
    cursor: pointer;
}

.main-content {
    overflow-y: auto;
    flex-grow: 1;
    padding-left: var(--page-margin-left);
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
    background-color: var(--bg-color);
}

/* Sidebar header */
#side-bar-header {
    display: flex;
    margin-top: var(--page-margin-top);
    margin-left: var(--page-margin-left);
}

#side-bar-header>img {
    width: var(--icon-width);
    height: var(--icon-height);
}

#side-bar-header>div {
    margin-left: var(--text-to-icon-gap);
}

/* Profile Photo */
#profile-pic {
    align-self: center;
    margin-top: 48px;
    margin-bottom: 80px;
}

.social-item {
    margin-left: var(--social-icon-margin-left);
    display: flex;
    margin-bottom: var(--section-gap);
}

.social-item>img {
    width: var(--icon-width);
}

.social-item>div {
    margin-left: var(--text-to-icon-gap);
    justify-items: baseline;
}

.main-page-content {
    visibility: collapse;
}

.main-page-content.active {
    visibility: visible;
}